<h1>This is where the events will be for admins</h1>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Organization</th>
			<th>Name</th>
			<th>Description</th>
			<th>Occurrences</th>
		</tr>
	</thead>
	<tbody>
		<% @events.each do |event| %>
			<tr>
				<td>
					<%= event.id %>
				</td>
				<td>
					<%= event.organization.name %>
				</td>
				<td>
					<%= event.name %>
				</td>
				<td>
					<%= event.description %>
				</td>
				<td>
					<% event.occurrences.each do |occurrence| %>
						<%= occurrence.start_time.strftime("%b %d, %Y %l:%M %p") %> - 
						<%= occurrence.end_time.strftime("%b %d, %Y %l:%M %p") %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>