<h1>This is where the events will be for admins</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Organization</th>
			<th>Name</th>
			<th>Description</th>
			<th>Upcoming Occurrences</th>
			<th>Most Recent</th>
			<th>Skills Required</th>
		</tr>
	</thead>
	<tbody>
		<% @events.each do |event| %>
			<tr>
				<td>
					<%= event.id %>
				</td>
				<td>
					<%= event.organization.name %>
				</td>
				<td>
					<%= event.name %>
				</td>
				<td>
					<%= event.description %>
				</td>
				<td>
					<%= event.occurrences.count %>
				</td>
				<td>
					<%= upcoming_occurrence(event) %>
				</td>
				<td>
					<%= event.skills.pluck(:name) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>