<h1>This is where the organizations will be for admins</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th><%= sortable "name" %></th>
			<th>Description</th>
			<th>Upcoming Events</th>
		</tr>
	</thead>
	<tbody>
		<% @organizations.each do |organization| %>
			<tr>
				<td>
					<%= organization.id %>
				</td>
				<td>
					<%= link_to organization.name, organization %>
				</td>
				<td>
					<%= organization.description %>
				</td>
				<td>
					<%= organization_events_list(organization) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>