<div class="event-header">
  <div class="container-fluid">
    <div class="row header-details">
      <div class="col-md-3">
        <%= link_to image_tag("https://pbs.twimg.com/profile_images/2213868378/logo.png"), organization_path(@event.organization) %>
      </div>

      <div class="col-md-9">
        <h1><%= @event.name %></h1>
        <h2><%= link_to @event.organization.name, organization_path(@event.organization) %></h2>

        <!-- TODO: Clean this up -->
        <p>
          <ul>
            <% @occurrences.each do |occurrence| %>
              <li><%= occurrence.start_time.strftime('%A, %b %d') %>: <%= occurrence.start_time.strftime('%I:%M %p') %> - <%= occurrence.end_time.strftime('%I:%M %p') %></li>
            <% end %>
          </ul>
        </p>
        
        <div class="row cta">
          <button type="button" class="btn btn-primary">VOLUNTEER</button>
          <button type="button" class="btn btn-default">ATTEND</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <!-- events info -->
    <div class="col-md-12 event">
      <div class="row">
        <div class="col-md-3">
          <p class="bold">About</p>
        </div>
        <div class="col-md-9">
          <p><%= @event.description %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p class="bold">Volunteers needed</p>
        </div>
        <!-- TODO: Get this from DB -->
        <div class="col-md-9">
          <p>10</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p class="bold">Attendees</p>
        </div>
        <!-- TODO: Get this from DB -->
        <div class="col-md-9">
          <p>Male & Female, 7-14</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p class="bold">Event Type</p>
        </div>
        <!-- TODO: Get this from DB -->
        <div class="col-md-9">
          <p>After school</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p class="bold">Skills</p>
        </div>
        <!-- TODO: MAYBE USE not the admin_helper method -->
        <div class="col-md-9">
          <%= unordered_listify(@event.skills.pluck(:name)) %>
        </div>
      </div>

    </div>

    <% if can? :manage, @event  %>
      <br><br>
      <div class="row">
        <div class="col-md-12 event">
          <p><%= link_to "Add Occurrence", new_occurrence_path(event_id: @event.id) %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 event">
          <p><%= link_to "Edit Event", edit_event_path(@event) %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 event">
          <p><%= link_to "Delete Event", @event, method: :delete, data: { confirm: "You sure?" } %></p>
        </div>
      </div>
    <% end %>
</div>



