<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 tagline">
        <h1>Upcoming Events for Teaching Kids to Code in NYC</h1>
        <h2>Connecting organizations, volunteers, parents and kids</h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- events info -->
    <div class="col-md-9 events">
      <% @events.each do |event| %>
        <div class="row event">
          <div class="col-md-3">
            <!-- TODO: Replace with img url from db -->
            <%= link_to image_tag("https://pbs.twimg.com/profile_images/2213868378/logo.png"), event_path(event) %>
          </div>

          <div class="col-md-6">
            <p><%= link_to event.organization.name, organization_path(event.organization) %></p>
            <h2><%= link_to event.name, event_path(event) %></h2>

           <!-- TODO: Add location to occurence and update this -->
           <p><%= link_to "New York Public Library", event_path(event) %></p>

           <!-- TODO: Clean this up -->
           <p><%= Occurrence.find_by_event_id(event.id).start_time.strftime('%A, %b %d') %>: <%= Occurrence.find_by_event_id(event.id).start_time.strftime('%I:%M %p') %> - <%= Occurrence.find_by_event_id(event.id).end_time.strftime('%I:%M %p') %></p>

            <p>
              <%= unordered_listify(event.skills.pluck(:name)) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- filters -->
    <%= render "filters" %>
  </div>
</div>


