<div class="organization-header">
  <div class="container-fluid">
    <div class="row header-details">
      <div class="col-md-3">
        <%= image_tag(@organization.image_url) %>
      </div>

      <div class="col-md-9">
        <h1><%= @organization.name %></h1>
        <p><%= link_to @organization.website %></p>

        <div class="row social">
          <%= link_to image_tag("twitter-logo.png"), @organization.twitter_url %>
          <%= link_to image_tag("facebook-logo.png"), @organization.facebook_url %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <!-- organization info -->
    <div class="col-md-12 organization">
      <div class="row">
        <div class="col-md-3">
          <p class="bold">About</p>
        </div>
        <div class="col-md-9">
          <p><%= @organization.description %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p class="bold">Demographic</p>
        </div>
        <!-- TODO: Get this from DB -->
        <div class="col-md-9">
          <p>ENTER DATA HERE</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p class="bold">Program Types</p>
        </div>
        <!-- TODO: Get this from DB -->
        <div class="col-md-9">
          <p>ENTER DATA HERE</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <p class="bold">Contact Information</p>
        </div>
        <div class="col-md-9">
          <p><%= @organization.contact_name %></p>
          <p><%= mail_to @organization.contact_email %></p>
          <p><%= @organization.contact_phone %></p>
        </div>
      </div>

      <% if @organization.events.length > 0 %>
        <div class="row">
          <div class="col-md-12 event">
            <h2>Upcoming events</h2>

            <% @organization.events.each do |event| %>
              <p><%= link_to event.name, event %></p>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if can? :manage, @organization  %>
        <br><br>
        <div class="row">
          <div class="col-md-12 event">
            <p><%= link_to "Edit Organization", edit_organization_path(@organization) %></p>
          </div>
        </div>
      <% end %>
    </div>
</div>
